*{
	box-sizing: border-box;
}
.container{
	width: 98%;
	max-width: 1200px;
	margin: auto;
}
.componente{
	padding: 15px;
}
section{
	margin-bottom: 100px;
}
.separador{
	background-color: green;
	color: #fff;
	padding: 10px 5px
}
body.text-color-2{
	background-color: rgb(26, 25, 25);
	color:rgb(156, 155, 155)
}
.btn{
	padding: 10px 16px;
	border-radius: 4px;
	margin-top: 20px;
	cursor: pointer;
	border: 0;
	min-height: 37px;
}
.add-item{
	color: #fff;
	background-color: green;
}
.add-item:hover{
	background-color: rgb(5, 160, 5);
}