*{
	box-sizing: border-box;
}
.container{
	width: 98%;
	max-width: 1200px;
	margin: auto;
}
.componente{
	padding: 15px;
}
section{
	margin-bottom: 100px;
}
.separador{
	background-color: green;
	color: #fff;
	padding: 10px 5px
}
body.text-color-2{
	background-color: rgb(26, 25, 25);
	color:rgb(156, 155, 155)
}
.add-item{
	background-color: green;
	border: 1px solid green;
	color: #fff;
	padding: 10px 16px;
	border-radius: 4px;
	margin-top: 20px;
	cursor: pointer;
}
.add-item:hover{
	background-color: rgb(5, 160, 5);
}



.v23-togglebox__item:not(.active) {
	display: none;
}

.v23-togglebox__btn {
	font-weight: bold;
}

.v23-togglebox__btn img,
.v23-togglebox__btn span {
	pointer-events: none;
}

.v23-togglebox[data-template="accordion"] {
	border: 1px solid rgba(192, 192, 192, 0.2);
}

.v23-togglebox[data-template="accordion"] .v23-togglebox__btn {
	margin: 0;
	padding: 8px 15px;
	cursor: pointer;
	position: relative;
	display: block;
	width: 100%;
	padding-right: 23px;
	border-bottom: 1px solid rgba(192, 192, 192, 0.2);
}

.v23-togglebox[data-template="accordion"] .v23-togglebox__btn img {
	width: 23px;
}

.v23-togglebox[data-template="accordion"] .v23-togglebox__btn img,
.v23-togglebox[data-template="accordion"] .v23-togglebox__btn span {
	margin-bottom: 0;
	margin-right: 15px;
}

.v23-togglebox[data-template="accordion"] .v23-togglebox__btn.active,
.v23-togglebox[data-template="accordion"] .v23-togglebox__btn:hover {
	background-color: rgba(0, 0, 0, 0.05);
}

.v23-togglebox[data-template="accordion"] .v23-togglebox__btn:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 10px;
	margin: auto;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 7px 5px 0 5px;
	border-color: #000 transparent transparent transparent;
}

.v23-togglebox[data-template="tab"].tab-style1 {
	border: 1px solid rgba(192, 192, 192, 0.2);
}

.v23-togglebox[data-template="tab"].tab-style1 .v23-togglebox__nav {
	display: flex;
}

.v23-togglebox[data-template="tab"].tab-style1 .v23-togglebox__btn {
	width: 100%;
	margin: 0;
	padding: 30px 5px;
	cursor: pointer;
	border: 0;
	border-bottom: 1px solid rgba(192, 192, 192, 0.2);
	border-right: 1px solid rgba(192, 192, 192, 0.2);
	text-align: center;
	font-size: .8em;
}

.v23-togglebox[data-template="tab"].tab-style1 .v23-togglebox__btn img {
	height: 23px;
	display: block;
	margin: 0 auto 5px auto;
}

.v23-togglebox[data-template="tab"].tab-style1 .v23-togglebox__btn span {
	display: block;
	margin-bottom: 8px;
	pointer-events: none;
	font-size: 1.5em;
}

.v23-togglebox[data-template="tab"].tab-style1 .v23-togglebox__btn:last-child {
	border-right: 0;
}

.v23-togglebox[data-template="tab"].tab-style1 .v23-togglebox__btn.active,
.v23-togglebox[data-template="tab"].tab-style1 .v23-togglebox__btn:hover {
	background-color: rgba(0, 0, 0, 0.05);
}

.v23-togglebox[data-template="tab"].tab-style1 .v23-togglebox__btn.active {
	border-bottom: 3px solid green;
	margin-bottom: -3px;
}

.v23-togglebox[data-template="tab"].tab-style2 {
	display: flex;
	justify-content: space-between;
}

.v23-togglebox[data-template="tab"].tab-style2 .v23-togglebox__nav {
	width: 30%;
	margin-top: 60px;
}

.v23-togglebox[data-template="tab"].tab-style2 .v23-togglebox__items {
	width: 70%;
	padding: 40px 0;
	border: 1px solid rgba(192, 192, 192, 0.5);
	box-shadow: -13px 13px 0 rgba(0, 0, 0, 0.04);
	background-color: #fff;
}

.v23-togglebox[data-template="tab"].tab-style2 .v23-togglebox__nav .v23-togglebox__btn {
	padding: 20px 15px;
	cursor: pointer;
	margin: 0;
	position: relative;
	transition: 200ms all;
}

.v23-togglebox[data-template="tab"].tab-style2 .v23-togglebox__nav .v23-togglebox__btn img {
	height: 15px;
	vertical-align: middle;
}

.v23-togglebox[data-template="tab"].tab-style2 .v23-togglebox__nav .v23-togglebox__btn img,
.v23-togglebox[data-template="tab"].tab-style2 .v23-togglebox__nav .v23-togglebox__btn span {
	margin-bottom: 0;
	margin-right: 15px;
}

.v23-togglebox[data-template="tab"].tab-style2 .v23-togglebox__nav .v23-togglebox__btn:not(.active) {
	border-bottom: 1px solid rgba(0, 0, 0, 0.04);
	color: #a5a5a5;
}

.v23-togglebox[data-template="tab"].tab-style2 .v23-togglebox__nav .v23-togglebox__btn:not(.active):hover {
	background-color: #fff;
	box-shadow: -13px 13px 0 rgba(0, 0, 0, 0.04);
}

.v23-togglebox[data-template="tab"].tab-style2 .v23-togglebox__nav .v23-togglebox__btn.active {
	box-shadow: -13px 13px 0 rgba(0, 0, 0, 0.04);
	background-color: #fff;
	border: 1px solid rgba(192, 192, 192, 0.5);
	border-right: 0;
}

.v23-togglebox[data-template="tab"].tab-style2 .v23-togglebox__nav .v23-togglebox__btn.active:before {
	content: '';
	position: absolute;
	top: 0;
	right: -1px;
	height: 100%;
	width: 1px;
	background-color: #fff;
}

.text-color-2 .v23-togglebox[data-template="accordion"],
.text-color-2 .v23-togglebox[data-template="accordion"] .v23-togglebox__btn {
	border-color: rgba(255, 255, 255, 0.2);
}

.text-color-2 .v23-togglebox[data-template="accordion"] .v23-togglebox__btn:hover,
.text-color-2 .v23-togglebox[data-template="accordion"] .v23-togglebox__btn.active {
	background-color: rgba(255, 255, 255, 0.2);
}

.text-color-2 .v23-togglebox[data-template="accordion"] .v23-togglebox__btn:before {
	border-top-color: #fff;
}

.text-color-2 .v23-togglebox[data-template="tab"].tab-style1,
.text-color-2 .v23-togglebox[data-template="tab"].tab-style1 .v23-togglebox__btn.active {
	border-color: rgba(255, 255, 255, 0.2);
}

.text-color-2 .v23-togglebox[data-template="tab"].tab-style1 .v23-togglebox__btn.active {
	border-bottom-color: green;
	background-color: rgba(255, 255, 255, 0.2);
}

.text-color-2 .v23-togglebox[data-template="tab"].tab-style1 .v23-togglebox__btn:not(.active) {
	border-bottom-color: rgba(255, 255, 255, 0.2);
	border-right-color: rgba(255, 255, 255, 0.2);
}

.text-color-2 .v23-togglebox[data-template="tab"].tab-style1 .v23-togglebox__btn:not(.active):hover,
.text-color-2 .v23-togglebox[data-template="tab"].tab-style1 .v23-togglebox__btn:not(.active).active {
	background-color: rgba(255, 255, 255, 0.2);
}

.text-color-2 .v23-togglebox[data-template="tab"].tab-style2 .v23-togglebox__items {
	background-color: transparent;
}

.text-color-2 .v23-togglebox[data-template="tab"].tab-style2 .v23-togglebox__btn.active {
	background-color: rgba(255, 255, 255, 0.2);
}

.text-color-2 .v23-togglebox[data-template="tab"].tab-style2 .v23-togglebox__btn.active:before {
	display: none;
}

.text-color-2 .v23-togglebox[data-template="tab"].tab-style2 .v23-togglebox__btn:not(.active) {
	color: inherit;
}

.text-color-2 .v23-togglebox[data-template="tab"].tab-style2 .v23-togglebox__btn:not(.active):hover {
	background-color: transparent;
}
