@import "variables"
    
#{$namespace}
    *
        box-sizing: border-box

    &__item:not(.active)
        display: none
    &__btn
        cursor: pointer
        &.active
            color: var(--ui-color-1, #{$ui-color-1})
        p
            margin: 0

    &[data-template="tab"] &__btn
        margin-right: 20px
        display: inline-block

    &[data-template="tab"] &__item
        padding-top: 23px
        padding-bottom: 23px

    &[data-template="accordion"] 
        #{$namespace}__btn
            padding: 10px 23px 10px 15px
            display: block
            border-bottom: 1px solid var(--ui-color-2, #{$ui-color-2})
            position: relative
            &:before
                content: ""
                position: absolute
                top: 0
                bottom: 0
                right: 10px
                margin: auto
                width: 0
                height: 0
                border-style: solid
                border-width: 7px 5px 0 5px
                border-color: currentcolor transparent transparent transparent
            img
                width: 23px
            img, span
                margin-bottom: 0
                margin-right: 15px
            &.active, &:hover
                color: var(--ui-color-1, #{$ui-color-1})
            &.active
                border-color: var(--ui-color-1, #{$ui-color-1})
                &:before
                    transform: rotate(180deg)
        #{$namespace}__item
            padding: 10px 15px

@import "tab-styles/tab-style-1"
@import "tab-styles/tab-style-2"
@import "tab-styles/tab-style-3"
@import "tab-styles/tab-style-4"
@import "tab-styles/tab-style-5"
@import "tab-styles/tab-style-6"

@import "accordion-styles/accordion-style-1"
@import "accordion-styles/accordion-style-2"