$tgb: '.togglebox' !default
    
%vertical-actions
    display: flex
    flex-direction: column-reverse
    justify-content: center
    margin-top: 0
    margin-left: 5px

%accordion-state-icon
    display: block
    line-height: 1
    position: absolute
    right: 10px
    top: 50%
    transform: translateY(-50%)
    transition: 200ms transform
    
.togglebox
    --ui-color-1: var(--primary-color)
    --ui-color-2: var(--primary-color-light)
    --ui-color-3: var(--primary-color-lighter)
    --item-animation: attr(data-animation, fadeIn)
    --icon-size: 1em

    &.togglebox-initialized &__item
        &:not(.active)
            display: none
    &__btn
        cursor: pointer

    &__icon,
    &__title,
    &__subtitle
        line-height: 1

    &__icon
        margin-right: 15px
        font-size: var(--icon-size)
        vertical-align: middle
        max-height: 1em

    &__subtitle
        display: block
        color: color-mix(in srgb, currentColor 60%, transparent)
        font-style: italic
        font-size: .9em
        white-space: nowrap
        margin-top: .5em

    &__state-icon
        display: none

    & > &__items > &__item.active
        height: 100%

    &__item
        animation: var(--item-animation) 300ms ease

@import "tab-styles/tab-style-1"
@import "tab-styles/tab-style-2"
@import "tab-styles/tab-style-3"
@import "tab-styles/tab-style-4"
@import "tab-styles/tab-style-5"
@import "tab-styles/tab-style-6"
@import "tab-styles/tab-style-7"
@import "tab-styles/horizontal-tabs"
@import "tab-styles/vertical-tabs"

@import "accordion-styles/accordion-style-1"
@import "accordion-styles/accordion-style-2"
@import "accordion-styles/accordion-style-3"
@import "accordion-styles/vertical-accordion"