#{$namespace}[data-style="accordion-style-2"]
    #{$namespace}__btn
        border: 1px solid var(--ui-color-2, #{$ui-color-2})
        border-radius: 6px
        margin-bottom: 4px
        padding: 20px 40px
        &::before
            right: 30px
        &.active
            border: 1px solid var(--ui-color-1, #{$ui-color-1})
            margin-bottom: 0
            border-radius: 6px 6px 0 0
            border-bottom: 0
        &:hover, &.active
            background-color: var(--ui-color-2, #{$ui-color-2})

    #{$namespace}__item
        padding: 0 40px 30px 40px
        &.active
            border: 1px solid var(--ui-color-1, #{$ui-color-1})
            margin-bottom: 20px
            border-top: 0
            border-radius: 0 0 6px 6px
            background-color: var(--ui-color-2, #{$ui-color-2})

.text-color-2
    #{$namespace}[data-style="accordion-style-2"]
        #{$namespace}__btn
            border-color: currentcolor
        #{$namespace}__item,
        #{$namespace}__btn
            &:hover, &.active
                background-color: transparent