.togglebox[data-style="accordion-style3"]

    & > #{$tgb}__items > #{$tgb}__btn
        padding: 1.4em 2.8em 1.4em 0
        position: relative
        display: inline-block
        width: 100%
        border-bottom: 1px solid
        transition: 200ms all
        &:hover
            background-color: var(--ui-color-3)
        &.active
            border-bottom: 0

        #{$tgb}__state-icon
            @extend %accordion-state-icon
            right: 0
            padding: .55em
            background-color: var(--ui-color-1)
            color: #fff
            border-radius: 50%

    & > #{$tgb}__items > #{$tgb}__btn > #{$tgb}__subtitle
        display: inline-block
        margin-left: .5em
        &::before
            content: '- '
    
    & > #{$tgb}__items > #{$tgb}__item
        padding: 1.8em 0