.togglebox[data-style="vertical-accordion"]

    & > #{$tgb}__items > #{$tgb}__btn
        cursor: pointer
        display: inline-block
        width: 100%
        position: relative
        padding: .7em 1em .7em 0
        &.active,
        &:hover
            color: var(--ui-color-1)

        #{$tgb}__state-icon
            @extend %accordion-state-icon
            right: 0
        
    & > #{$tgb}__items > #{$tgb}__btn > #{$tgb}__title
        font-weight: var(--bold-font-weight)

    & > #{$tgb}__items > #{$tgb}__btn > #{$tgb}__subtitle
        display: inline-block
        margin-left: .5em
        &::before
            content: '- '
    
    & > #{$tgb}__items > #{$tgb}__item
        padding: 1.2em 0