.togglebox[data-style="tab-style5"]
    display: flex
    justify-content: space-between
    gap: 2em

    & > #{$tgb}__nav
        width: 300px
        flex-shrink: 0

    & > #{$tgb}__items
        flex-grow: 1

    & > #{$tgb}__nav > #{$tgb}__btn
        display: block
        padding: 15px 15px
        border-radius: 8px
        margin-bottom: 2px
        color: inherit
        border: 1px solid transparent
        transition: 300ms all
        &.active, &:hover
            background-color: var(--ui-color-3)
            border: 1px solid var(--ui-color-2)
            color: var(--ui-color-1)

    & > #{$tgb}__nav > #{$tgb}__btn > #{$tgb}__title
        margin-right: .8em
    
    & > #{$tgb}__actions
        @extend %vertical-actions