.togglebox[data-style="tab-style2"]
    --icon-size: 1.5em
    display: flex
    justify-content: space-between

    & > #{$tgb}__nav
        width: 30%

    & > #{$tgb}__items
        width: 70%
        border-top: 1px solid var(--ui-color-2)
        border-right: 1px solid var(--ui-color-2)
        border-radius: 0 15px 0 0

    & > #{$tgb}__items > #{$tgb}__item.active
        padding: 40px 20px

    & > #{$tgb}__nav > #{$tgb}__btn
        padding: 15px
        margin-bottom: 5px
        position: relative
        transition: 200ms all
        border-radius: 3px
        border: 1px solid var(--ui-color-2)
        display: inline-block
        width: 100%
        &.active, &:hover
            background-color: var(--ui-color-3)
        &.active:after
            content: "\F231"
            font-family: 'bootstrap-icons' !important
            line-height: 100%
            position: absolute
            top: 15px
            right: 0
            color: var(--ui-color-1)
            transform: translateX(100%)
        
    & > #{$tgb}__nav > #{$tgb}__btn > #{$tgb}__title
        font-weight: var(--bold-font-weight)

    & > #{$tgb}__actions
        @extend %vertical-actions