.togglebox[data-style="tab-style4"]

    & > #{$tgb}__nav
        display: flex
        flex-wrap: wrap

    & > #{$tgb}__nav > #{$tgb}__btn
        flex-grow: 1
        padding: 1em 15px
        display: inline-flex
        gap: .8em
        align-items: center
        justify-content: center
        border-top: 2px solid var(--ui-color-3)
        border-bottom: 2px solid var(--ui-color-3)
        transition: border-color .3s
        .togglebox__icon
            margin-right: 0
        &:hover
            border-color: var(--ui-color-2)
        &.active
            border-color: var(--ui-color-1)
    
    & > #{$tgb}__items > #{$tgb}__item.active
        padding: 2em 1em
    
    & > #{$tgb}__nav > #{$tgb}__btn > #{$tgb}__subtitle
        margin-top: 0