#{$namespace}[data-style="tab-style-3"]
    #{$namespace}__nav
        background-color: var(--ui-color-2, #{$ui-color-2})
        border-radius: 40px
        padding: 4px
    #{$namespace}__btn
        margin-right: 4px
        padding: 12px 30px
        border-radius: 40px
        transition: 500ms background-color
        &.active, &:hover
            background-color: #fff
        &.active
            box-shadow: 0 0 23px var(--ui-color-1, #{$ui-color-1})

.text-color-2
    #{$namespace}[data-style="tab-style-3"]
        #{$namespace}__nav
            background-color: var(--ui-color-1, #{$ui-color-1})
        #{$namespace}__btn
            &.active, &:hover, &:not(.active):hover
                color: var(--ui-color-1, #{$ui-color-1})
            &:not(.active)
                color: #fff 