#{$namespace}[data-style="tab-style-4"]
    --border-color: #e4e4e4
    #{$namespace}__nav
        display: flex
        flex-wrap: wrap
        margin-bottom: 35px
    #{$namespace}__btn
        flex-grow: 1
        text-align: center
        margin: 0
        padding: 15px 30px
        border-top: 2px solid var(--border-color)
        border-bottom: 2px solid var(--border-color)
        &.active, &:hover
            border-color: var(--accent-color)

.text-color-2
    #{$namespace}[data-style="tab-style-4"]
        #{$namespace}__btn
            --border-color: #333