#{$namespace}[data-style="tab-style-1"] 
    border: 1px solid var(--ui-color-2, #{$ui-color-2})

    #{$namespace}__nav
        display: flex

    #{$namespace}__btn
        margin: 0
        flex-grow: 1
        padding: 30px 5px
        border: 0
        border-bottom: 1px solid var(--ui-color-2, #{$ui-color-2})
        border-right: 1px solid var(--ui-color-2, #{$ui-color-2})
        text-align: center
        font-size: .8em
        img
            height: 23px
            display: block
            margin: 0 auto 5px auto
        span
            display: block
            margin-bottom: 8px
            font-size: 1.5em
        &:last-child
            border-right: 0
        &.active, &:hover
            border-bottom: 3px solid var(--ui-color-1, #{$ui-color-1})
            margin-bottom: -3px
    #{$namespace}__item
        padding: 25px

.text-color-2
    #{$namespace}[data-style="tab-style-1"] 
        border-color: currentcolor